@font-face{
	src: url(../fonts/BrandonGrotesque-Bold.ttf);
	font-family: BrandonGrotesque-Bold;
}
@font-face{
	src: url(../fonts/BrandonGrotesque-Light.ttf);
	font-family: BrandonGrotesque-Light;
}
@font-face{
	src: url(../fonts/BrandonGrotesque-Medium.ttf);
	font-family: BrandonGrotesque-Medium;
}
@font-face{
	src: url(../fonts/BrandonGrotesque-Regular.ttf);
	font-family: BrandonGrotesque-Regular;
}
body{
	font-family: BrandonGrotesque-Regular;
}
/*header start*/
header{
	padding: 20px 0 100px;
	background-image: url(../images/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
header ul li a{
	font-family: BrandonGrotesque-Medium; 
}
.banner{
	margin-top: 150px;
}
.banner h5{
	font-family: BrandonGrotesque-Light;
}
.banner h1{
	font-family: BrandonGrotesque-Bold;
}
.banner button{
	font-family: BrandonGrotesque-Bold;
}
.banner button:hover{
	background: #fff;
	color: #777777;
}
/*header end*/
/*about start*/
.about h1{
	font-family: BrandonGrotesque-Light;
}
.about h1 span{
	font-family: BrandonGrotesque-Bold;
}
/*about end*/
/*service start*/
.service h5{
	font-family: BrandonGrotesque-Medium;
	font-weight: 500;
}
/*service end*/
/*client start*/
#talkbubble,#talkbubble2{
    background: #fff;
    position: relative;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
#talkbubble:before{
    content: "";
    position: absolute;
    right: 100%;
    top: 50%;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 26px solid #fff;
    border-bottom: 13px solid transparent;
}
#talkbubble2:before{
	content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-left: 26px solid #fff;
    border-bottom: 13px solid transparent;
}
/*client end*/