@font-face {
    src: url(../fonts/BrandonGrotesque-Bold.ttf);
    font-family: BrandonGrotesque-Bold;
}
@font-face {
    src: url(../fonts/BrandonGrotesque-Medium.ttf);
    font-family: BrandonGrotesque-Medium;
}
@font-face {
    src: url(../fonts/BrandonGrotesque-Regular.ttf);
    font-family: BrandonGrotesque-Regular;
}
@font-face {
    src: url(../fonts/BrandonGrotesque-Light.ttf);
    font-family: BrandonGrotesque-Light;
}
/*global*/
body {
    font-family: BrandonGrotesque-Regular;
    font-weight: 400;
    color: #777;
}
p {
    font-size: 18px;
}
/*navigation start*/
header {
    padding-top: 15px;
    background-image: url(../images/headerbg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.scrollnav {
    background: #333;
    padding: 15px 0;
    transition: 0.4s ease;
}
.menu ul li a {
    font-family: BrandonGrotesque-Medium;
    font-size: 18px;
    font-weight: 600;
    color: #fff !important;
    padding: 0 15px !important;
    transition: 0.3s ease;
}
.menu ul li a:hover,
.menu ul li .active {
    color: #7690c5 !important;
}
.menu ul li:last-child a {
    padding-right: 0 !important;
}
/*navigation end*/
/*banner start*/
#banner {
    padding: 200px 0 100px;
}
.b_content {
    text-align: center;
}
.b_content h2 {
    font-family: BrandonGrotesque-Light;
    font-size: 32px;
    font-weight: 300;
    color: #fff;
    margin: 0;
}
.b_content h1 {
    font-family: BrandonGrotesque-Bold;
    font-size: 66px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin: 20px 0 50px;
}
.b_content button {
    font-family: BrandonGrotesque-Bold;
    font-size: 23px;
    font-weight: 700;
    width: 230px;
    height: 60px;
    transition: 0.4s ease;
}
/*banner end*/
/*about start*/
.about {
    padding: 90px 0;
}
.bg_gray {
    background-color: #fafafa;
}
.title {
    font-family: BrandonGrotesque-Light;
    font-size: 60px;
    font-weight: 300;
    color: #222;
    text-transform: capitalize;
}
.title span {
    font-family: BrandonGrotesque-Bold;
    font-weight: 700;
}
.a_single p {
    margin: 20px 0 0;
}
/*about end*/
/*service start*/
#service {
    padding: 50px 0 90px;
}
.s_single {
    margin-top: 40px;
}
.s_content i {
    font-size: 30px;
    color: #fff;
    padding: 20px;
    background: #222;
    border-radius: 50%;
}
.s_content h2 {
    font-family: BrandonGrotesque-Medium;
    font-size: 22px;
    font-weight: 600;
    color: #222;
}
.s_content p {
    margin: 0;
}
/*service end*/
/*client start*/
#client {
    background-color: #fafafa;
    padding: 90px 0;
}
.title_content {
    text-align: center;
}
.c_single {
    margin-top: 50px;
}
.c_single p {
    font-size: 26px;
}
.c_single span {
    font-size: 20px;
    color: #7690c5;
}
#talkbubble,
#talkbubble2 {
    padding: 15px;
    border: 1px solid #f1f1f1;
    background: #fff;
    position: relative;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
#talkbubble:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 50%;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 26px solid #fff;
    border-bottom: 13px solid transparent;
}
#talkbubble2:before {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-left: 26px solid #fff;
    border-bottom: 13px solid transparent;
}
/*client end*/
/*brand start*/
.brand {
    padding-bottom: 50px;
}
.brand_img {
    margin-top: 50px;
}
/*brand end*/
/*team start*/
#team {
    color: #fff;
    padding: 90px 0;
    background: #111;
}
.t_single {
    text-align: center;
    margin-top: 50px;
}
.t_single h2 {
    font-family: BrandonGrotesque-Bold;
    font-size: 20px;
    font-weight: 700;
    margin: 16px 0 8px;
}
.t_single ul li a {
    font-size: 18px;
    color: #fff;
    padding: 5px 10px;
    border: 2px solid #fff;
    border-radius: 50%;
    transition: 0.3s ease;
}
.t_single ul li a:hover {
    color: #111;
    background: #fff;
}
/*team end*/
/*contact start*/
#contact {
    color: #fff;
    padding: 90px 0;
    background: #7690c5;
}
.contact_content i {
    padding-right: 10px;
}
/*contact end*/
footer {
    color: #fff;
    padding: 20px 0;
    background: #7690c5;
    border-top: 1px solid #87a0d2;
}