@font-face{
	src: url(../fonts/BrandonGrotesque-Bold.ttf);
	font-family: BrandonGrotesque-Bold;
}
@font-face{
	src: url(../fonts/BrandonGrotesque-Light.ttf);
	font-family: BrandonGrotesque-Light;
}
@font-face{
	src: url(../fonts/BrandonGrotesque-Medium.ttf);
	font-family: BrandonGrotesque-Medium;
}
@font-face{
	src: url(../fonts/BrandonGrotesque-Regular.ttf);
	font-family: BrandonGrotesque-Regular;
}
body{
	font-family: BrandonGrotesque-Regular;
}
/*commons*/
.fontfamlight{
	font-family: BrandonGrotesque-Light;
	font-weight: 300;
}
.fontfambold{
	font-family: BrandonGrotesque-Bold;
	font-weight: 700;
}
.fontfammed{
	font-family: BrandonGrotesque-Medium;
	font-weight: 500;
}
.p100{
	padding: 100px 0;
}
/*header start*/
header{
	padding: 20px 0 100px;
	background-image: url(../images/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
header ul li a{
	font-family: BrandonGrotesque-Medium;
	font-weight: 500; 
}
.banner{
	margin-top: 150px;
}
.banner button:hover{
	background: #fff;
	color: #777777;
}
/*header end*/
/*client start*/
#talkbubble,#talkbubble2{
    background: #fff;
    position: relative;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
#talkbubble:before{
    content: "";
    position: absolute;
    right: 100%;
    top: 50%;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 26px solid #fff;
    border-bottom: 13px solid transparent;
}
#talkbubble2:before{
	content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-left: 26px solid #fff;
    border-bottom: 13px solid transparent;
}
/*client end*/
/*team start*/
.team img{
	border: 3px solid #fff;
}
.social_icon i{
	border: 3px solid #fff;
	color: #fff;
}
.social_icon i:hover{
	background: #fff;
    	color: #111111;
}
.team_footer{
	color: #ebebeb;
}
/*team end*/
/*contact start*/
.contact{
	background: #7690c5;
	color: #fff;
}
/*contact end*/
/*footer start*/
footer{
	background: #7690c5;
}
